h1, h2, h3, h4, h5, h6, p, div, span {
  margin: 0;
  padding: 0;
  color: green;
}

body {
  background-color: black;
}

.fit {
  display: block;
  max-width: 1280px;
  margin: 0 auto;
}

.snippet-code {
  color: green;
}

#hidden-components > * {
  display: none;
}

.boxes {
  display: block;
}

.box {
  display: inline-block;
  width: 33%;
}
