h1, h2, h3, h4, h5, h6, p, div, span {
  margin: 0;
  padding: 0;
  color: green;
}

body {
  background-color: #FBFEFF;
}

.fit {
  display: block;
  max-width: 1280px;
  margin: 0 auto;
}

.snippet-code {
  color: red;
}

#hidden-components > * {
   display: none;
}

.boxes {
  display: block;
}

.box-list {
  display: block;
  padding: 0;
  margin: 0;
}

.box-item {
  display: inline-block;
  width: 33.33%;
  box-sizing: border-box;
}

.box-link {
  display: block;
  text-decoration: none;
}

.box-img-box {
  display: block;
}

.box-img {
  display: block;
  width: 100%;
  height: auto;
}

.box-content {
   padding: 20px;
}

.box-title {
  display: block;
  font-size: 24px;
  font-weight: bold;
}

.tiles {
  display: block;
  padding: 40px 0;
}

.tile {
  display: inline-block;
  margin: 0 -20px;
}

.tile--3 {
  width: 33%;
  padding: 0 31px;

}

.tile--4 {
  width: 25%;
  padding: 0 25px;
}

.tile-image {
  display: block;
  width: 100%;
  height: auto;
}

.tile-image-box {
  margin-bottom: 8px;
}

.tile:first-child {
  padding-left: 5px;
}

.tile:last-child {
  padding-right: 0;
}

.tile-box {
  margin: 0 15px;
  box-shadow: 5px 10px 18px #888888;
}

.tile-content-box {
  margin-top: 7px;
  padding: 15px;
}

.tile-title {
  padding: 10px 0;
}

.button {
  display: block;
  margin: 15px auto;
  border-radius: 15px;
}

.primary-button {
  background-color: chartreuse;
  width: 75%;
  height: 50px;
}

.secondary-button {
  background-color: darkturquoise;
  width: 50%;
  height: 30px;
}

.selectbox{
  padding: 3px 3px;
  border-radius: 10px;
}
